/**
*This project is containing the following stylsheets, linked to index.html:
*
* 1. normalize.css........for css.reset
* 2. base.css.............for the most basic and general rules like padding, margin
* 3. layout.css...........for building the grid system with the main elements of the page, and setting the flexbox properties for the elements inner structure.
* 4. components.css.......for giving specific values for the smaller components
*/

/**
*CONTENTS
*
*
*
*/

/*------------------------*\
  #MAIN AREAS
\*------------------------*/

.container {
    width: 102vw;
    margin-left: -1.1em;
    font-family: 'EB Garamond', serif;
}


.item {
    padding: 2em 3em;
}


.navbar {
    padding-bottom: 3em;
}

.sidebar-left {
    background-color: #3f87a6;
}

.header {
    background-color: #ebf8e1;
    font-family: 'Dancing Script', cursive;
}

.main-content {
    background-image:    url(/files/harp.jpg);
    background-repeat:   no-repeat;
    background-size:     cover;
    background-position: center;
}

.sidebar-right{
    background-color: #f69d3c;
}

.footer {
    background-color: midnightblue;
}