/**
* This project is containing the following stylesheets, linked to index.html:
*
* 1. normalize.css........for css.reset
* 2. base.css.............for the most basic and general rules like padding, margin
* 3. layout.css...........for building the grid system with the main elements of the page, and setting the flexbox properties for the elements inner structure.
* 4. components.css.......for giving specific values for the smaller components
*/

/**
* CONTENTS
*
* VARIABLES
*
* MAIN AREAS
*
*/

/*------------------------*\
  #VARIABLES
\*------------------------*/

:root {
    --bgcolor1: #3f87a6;
    --bgcolor2: #f69d3c;
}






/*------------------------*\
  #MAIN AREAS
\*------------------------*/

.container {
    width:       102vw;
    margin-left: -1.1em;
    font-family: 'EB Garamond', serif;
}


.item {
    padding: 2em 3em;
}


.navbar {
    padding-bottom: 3em;
}

.sidebar-left {
    background-color: var(--bgcolor1);
}

.header {
    background-color: var(--bgcolor1);
    background-image: url("https://www.transparenttextures.com/patterns/flowers.png");
}

.main-content {
    background-image:    url(/files/harp.jpg);
    background-repeat:   no-repeat;
    background-size:     cover;
    background-position: center;
    filter: brightness(0.4);
}

.sidebar-right{
    background-color: var(--bgcolor2);
}

.footer {
    background-color: midnightblue;
}