/**
*  CONTENT
*
*  NAVBAR-STYLES
*  HEADER-STYLES
*  MAIN-CONTENT-STYLES
*  SIDEBAR-LEFT-STYLES
*  SIDEBAR-RIGHT-STYLES
*  FOOTER-STYLES
*  KEYFRAMES
*/



/*------------------------*\
  #NAVBAR-STYLES
\*------------------------*/

  .btn { /* These rules are setting the buttons in the footer as well*/
      margin: 0 2em;
  }





/*------------------------*\
  #HEADER-STYLES
\*------------------------*/

.header {
  padding-bottom: 2em;
  font-family:    'Dancing Script', cursive;
}

  .header div {
    text-align: center;
  }




/*------------------------*\
  #MAIN-CONTENT-STYLES
\*------------------------*/

.main-content {
    color:       var(--bgcolor2);
    font-size:   1.5em;
    line-height: 1.7em;
    text-indent: 2em;
    font-weight: bold;
    filter:      brightness(0.6);
}

  .main-content p {
    margin-bottom: 1.5em;
  }

  .main-content h3 {
    font-family:   'Dancing Script', cursive;
    font-size:     1.4em;
    margin-bottom: 1.2em;
  }




/*------------------------*\
  #SIDEBAR-LEFT-STYLES
\*------------------------*/

.sidebar-left img {
  margin:     2.3em auto;
  transition: all .8s ease-out .2s;
}

  .sidebar-left img:hover {
    transform:  rotate(-360deg) scale(1.5);
  }


.sidebar-left h3 {
  font-family:     'Dancing Script', cursive;
  font-size:       1.8em;
  backdrop-filter: brightness(1.4);
  background:      radial-gradient(var(--fontcolor), var(--bgcolor1));
  padding:         .5em;
  margin-top:      1.3em;
}


.sidebar-left ul {
  list-style:  none;
  font-size:   1.2em;
  font-weight: bold;
  line-height: 1.7em;
}

  .sidebar-left a {
    color: var(--fontcolor);
  }





/*------------------------*\
  #SIDEBAR-RIGHT-STYLES
\*------------------------*/

.sidebar-right .image-wrapper {
  width:      80%;
  height:     auto;
  margin:     1em;
  align-self: center;
  filter:     grayscale(80%);
  transition: all .5s ease-in .2s;
}

.sidebar-right .image-wrapper:hover {
  transform:  scale(1.1);
  box-shadow: 3px 3px 8px black;
  filter:     grayscale(0);
}




/*------------------------*\
  #FOOTER-STYLES
\*------------------------*/

.footer {
  color:      black;
  text-align: center;
}

  .footer p {
    margin-bottom: 1.3em;
    font-style:    italic;
    font-size:     1.2em;
  }

  .footer a {
    color:       black;
    font-weight: bold;
  }





  /*------------------------*\
  #KEYFRAMES
  \*------------------------*/

@keyframes moveangel {
  0% {margin-top:15em; background: var(--bgcolor1);}
  25% {margin-top:20em; margin-right: 2em; background: var(--fontcolor);}
  50% {margin-top:24em; margin-right: 4em; background: var(--fontcolor);}
  75% {margin-top:27em; margin-right: 2em; background: var(--fontcolor);}
  100% {margin-top:30em; background: var(--bgcolor2);}
}

.moving-angel {
  width: 8em;
  animation: moveangel 4s linear infinite alternate;
}

.angel-wrapper {
  margin-right: 22em;
  position:     relative;

}
